<h1>Div layout</h1>

layout
<div layout>
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>

layout-align="center"
<div layout layout-align="center">
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>
layout-align="end"
<div layout layout-align="end">
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>

layout-align=" space-around"
<div layout layout-align=" space-around">
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>
layout-align=" space-between"
<div layout layout-align=" space-between">
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>
layout layout-margin
<div layout layout-margin>
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>
layout layout-padding
<div layout layout-padding>
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>





<h1>Div layout=col</h1>

<div layout="column">
	<div class="grey">1</div>
	<div class="green">2</div>
	<div class="yellow">3</div>
	<div class="purple">4</div>
	<div class="red">5</div>
</div>
<h1>Div layout=col or row</h1>

<h2>row</h2>
  <div layout="row">
    <div flex class="purple">First item in row</div>
    <div flex="20"  class="red">Second item in row</div>
  </div>
<h2>col</h2>
  <div layout="column">
    <div flex="66"  class="purple">First item in column</div>
    <div flex="33" class="red">Second item in column</div>
  </div>

<h1>Div flex layout row</h1>

<div layout="row">
  <div flex="100" class="red">100</div>
  <div flex="10" class="red">10</div>
  <div flex="20" class="red">20</div>
  <div flex="30" class="red">30</div>
  <div flex="40" class="red">40</div>
  <div flex="50" class="red">50</div>
</div>


<h1>Div flex</h1>

<div>
  <div flex class="red">1</div>
  <div flex="10" class="red">10</div>
  <div flex="20" class="red">20</div>
  <div flex="30" class="red">30</div>
  <div flex="40" class="red">40</div>
  <div flex="50" class="red">50</div>
</div>
<h1>Div flex layout row</h1>

<div layout="  padding">
  <div flex="100" class="red">1</div>
  <div flex="10" class="red">10</div>
  <div flex="20" class="red">20</div>
  <div flex="30" class="red">30</div>
  <div flex="40" class="red">40</div>
  <div flex="50" class="red">50</div>
</div>



<div layout="row">
	<div layout="row">
	  <div flex>First item in row</div>
	  <div flex>Second item in row</div>
	</div>
	<div layout="column">
	  <div flex>First item in column</div>
	  <div flex>Second item in column</div>
	</div>
</div>