<div flex layout="row" layout-align="center center" ng-cloak>
    <md-content flex-xs="100" flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2 md-padding md-margin">
      <form name="addProduct">
        <h2>Product Title &amp; Search Engine Friendly URL </h2>

        <div layout="column" >
          <md-input-container>
            <label>Product Title</label>
            <input type="text" name="productTitle" ng-model="productTitle" required minlength="4" md-maxlength="60" />
            <div ng-messages="addProduct.productTitle.$error" ng-show="addProduct.productTitle.$dirty">
              <div ng-message="required">This is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="minlength">That's too short!</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>URL</label>
            <input type="text"/>
          </md-input-container>
        </div>

        <h2>Categories Assignment </h2>
        <div layout="column" layout-gt-sm="row" layout-align="space-between center">
          <md-input-container flex >
            <label>Main Product Category</label>
            <input type="text"/>
          </md-input-container>
          <md-input-container flex>
            <label>Additional Categories (if needed)</label>
            <input type="text"/>
          </md-input-container>
        </div>

        <h2>Product Description and Promo Description (U.S.P) </h2>

        <div layout="column" >
          <md-input-container flex>
            <label>Promo Description (Unique Selling Point)</label>
            <textarea   columns="1"  ></textarea>
          </md-input-container>
          <md-input-container flex>
            <label>Product Long Description</label>
            <textarea  columns="1" rows="3" required></textarea>
          </md-input-container>
        </div>
      </form>





    </md-content>
</div>
 






<!--
<div layout="column" ng-cloak>
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <p>Use <code>md-autocomplete</code> to search for matches from local or remote data sources.</p>
      <md-autocomplete
          ng-disabled="VM.isDisabled"
          md-no-cache="VM.noCache"
          md-selected-item="VM.selectedItem"
          md-search-text-change="VM.searchTextChange(VM.searchText)"
          md-search-text="VM.searchText"
          md-selected-item-change="VM.selectedItemChange(item)"
          md-items="item in VM.querySearch(VM.searchText)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="What is your favorite US state?">
        <md-item-template>
          <span md-highlight-text="VM.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{VM.searchText}}" were found.
          <a ng-click="VM.newState(VM.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>
      <br/>
      <md-checkbox ng-model="VM.simulateQuery">Simulate query for results?</md-checkbox>
      <md-checkbox ng-model="VM.noCache">Disable caching of queries?</md-checkbox>
      <md-checkbox ng-model="VM.isDisabled">Disable the input?</md-checkbox>
      <p>By default, <code>md-autocomplete</code> will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
    </form>
  </md-content>
</div>
-->